<h1>About Me</h1>
<p>Hi, my name is Shep Ogden and I am a junior 
at The University of Georgia. I study finance, computer 
science, and I am just starting into new media! I took
this course to get a better understand of how to create
a fully functional website.</p>
